@page
@model Store.Pages.Products.SingleProduct
@{
    var product = Model.Product;
}

@* ReSharper disable once ConditionIsAlwaysTrueOrFalseAccordingToNullableAPIContract *@
@if (Model.Product == null)
{
    <div class="col-12 d-flex justify-content-center align-items-center vh-100">
        <div class="jumbotron text-center">
            <h1>Product was not found!</h1>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="breadcrumbs">
                    <ul>
                        <li>
                            <a asp-page="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a asp-page="/Products/AllProducts">Category</a>
                        </li>
                        <li>
                            <span>@product.Category</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 mb-3">
                <div class="bg-white h-100 position-relative">
                    @* ReSharper disable once ConditionIsAlwaysTrueOrFalseAccordingToNullableAPIContract *@
                    @if (product.Photo != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(product.Photo)" alt="Product Image" style=" width: 400px; height: 400px; object-fit: cover;"/>
                    }
                    else
                    {
                        <img src="~/Images/productTemplate.png" alt="Product Image" style="width: 200px; height: 430px; object-fit: cover;">
                    }
                </div>
            </div>

            <div class="col-md-7 col-lg-8 mb-3">
                <div class="bg-white product-content p-3 h-100">
                    <h1 class="section-title h3">
                        <span>@product.Name</span>
                    </h1>
                    <div class="product-price">@product.Price$</div>
                    <p>@product.ShortDescription</p>

                    @if (product.Quantity > 0)
                    {
                        <form method="post" asp-page="/Products/SingleProduct" asp-page-handler="AddProduct">
                            <div class="input-group">
                                <input type="number" class="form-control mr-sm-2" name="quantity" value="0" min="0" max="@product.Quantity" style="width: 80px;">
                                <input type="hidden" name="id" value="@product.Id"/>
                                <button type="submit" class="btn btn-warning">
                                    Add to cart
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-warning ml-sm-2 mt-2" role="alert">
                            There are currently no products available.
                        </div>
                    }


                    <h2>
                        <span>Full Description</span>
                    </h2>
                    <p>@product.FullDescription</p>


                    @if (TempData["Message"] != null)
                    {
                        <div id="messageDiv" class="alert alert-success mt-2" role="alert">
                            @TempData["Message"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#messageDiv').delay(3000).fadeOut();
    });
</script>