@page
@model Store.Pages.Products.SingleProduct

@if (Model.Product == null)
{
    <div class="col-12 d-flex justify-content-center align-items-center vh-100">
        <div class="jumbotron text-center">
            <h1>Products are not found!</h1>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="breadcrumbs">
                    <ul>
                        <li>
                            <a asp-page="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a asp-page="/Products/AllProducts">Category</a>
                        </li>
                        <li>
                            <span>@Model.Product?.Name</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 mb-3">
                <div class="bg-white h-100 position-relative">
                    <img src="@Model.Product?.Photo" class="d-block w-100" style="width: 200px; height: 430px; object-fit: cover;" alt="...">
                </div>
            </div>

            <div class="col-md-7 col-lg-8 mb-3">
                <div class="bg-white product-content p-3 h-100">
                    <h1 class="section-title h3">
                        <span>@Model.Product?.ShortDescription</span>
                    </h1>
                    <div class="product-price">@Model.Product?.Price$</div>
                    <p>Description</p>

                    <input type="hidden" name="cartItem.Id" value="id"/>
                    <div class="input-group">
                        <input type="number" class="form-control mr-sm-2" name="cartItem.Quantity" value="" min="0" max="" style="width: 80px;">
                        <button type="submit" class="btn btn-warning">
                            Add to cart
                        </button>
                    </div>
                    <div class="alert alert-warning ml-sm-2 mt-2" role="alert">
                        There are currently no products available.
                    </div>


                    @if (TempData["Message"] != null)
                    {
                        <div id="messageDiv" class="alert alert-success mt-2" role="alert">
                            @TempData["Message"]
                        </div>
                    }

                    <div class="row mt-3">
                        <div class="col-lg-4 mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Guaranty
                                    </h5>
                                    <ul class="list-unstyled">
                                        <li>1-year warranty</li>
                                        <li>Return of goods within 14 day</li>
                                        <li>Quality assurance</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Delivery
                                    </h5>
                                    <ul class="list-unstyled">
                                        <li>Delivery throughout the country</li>
                                        <li>Mail delivery</li>
                                        <li>Pickup</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mb-2">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Payment
                                    </h5>
                                    <ul class="list-unstyled">
                                        <li>Cashless payment</li>
                                        <li>VISA/MasterCard</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="product-content-details bg-white p-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description-tab-pane" type="button" role="tab"
                                    aria-controls="description-tab-pane"
                                    aria-selected="true">
                                Description
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="features-tab" data-bs-toggle="tab"
                                    data-bs-target="#features-tab-pane" type="button" role="tab"
                                    aria-controls="features-tab-pane" aria-selected="false">
                                Features
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
                             aria-labelledby="description-tab" tabindex="0">
                            <p>@Model.Product?.FullDescription</p>
                        </div>
                        <div class="tab-pane fade" id="features-tab-pane" role="tabpanel"
                             aria-labelledby="features-tab" tabindex="0">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">FILTER</th>
                                    <td> Options</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#messageDiv').delay(3000).fadeOut();
    });
</script>