@page
@model Store.Pages.Admin.AllDeliveriesModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li>
                        <a asp-page="/Home/Index">Home</a>
                    </li>
                    <li>
                        <span>Delivery</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="cart-content p-3 h-100 bg-white">
                <div class="table-responsive">
                    @if (Model != null && Model.Orders.Any())
                    {
                        <table class="table align-middle table-hover">
                            <thead class="table-dark">
                            <tr>
                                <th>ID Delivery</th>
                                <th>Name Surname</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Status Delivery</th>
                                <th>View order</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Orders)
                            {
                                <tr>
                                    <td class="align-middle text-center">@item.Id</td>
                                    <td class="align-middle text-center">@item.Name</td>
                                    <td class="align-middle text-center">@item.Email</td>
                                    <td class="align-middle text-center">@item.Country</td>
                                    <td class="align-middle text-center">@item.City</td>
                                    <td class="align-middle text-center">@item.Address</td>
                                    <td class="align-middle text-center">@item.Phone</td>
                                    <td class="align-middle text-center">
                                        <button type="submit" class="btn btn-danger">Status: status</button>
                                    </td>
                                    <td class="align-middle text-center">
                                        <form method="post" asp-page="/Admin/AllDeliveries" asp-page-handler="ViewOrder">
                                            <input type="hidden" name="id" value="@item.Id"/>
                                            <button type="submit" class="btn btn-primary">View</button>
                                        </form>
                                    </td>
                                    <td class="align-middle text-center">
                                        <form method="post" asp-page="/Admin/AllDeliveries" asp-page-handler="DeleteOrder">
                                            <input type="hidden" name="id" value="@item.Id"/>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="text-center">
                            <h3 > There are not actual orders in the current time.</h3 >
                        </div>
                    }
                </div >
            </div >
        </div >
    </div >
</div >